<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/places.css">


<% for (let place of places)  { %>
    <div class="row text-center">
        <div class="col-sm-6 offset-sm-3">
            <div class="card mb-5">
                <img src="<%= place.images[0].url %> " class="card-img-top hover-overlay ripple mb-2" data-mdb-ripple-color="light"" alt="...">
                <div class="card-body">
                    <h2 class="card-title"><%= place.title %></h2>
                    <h5 class="card-text"><%= place.location %></h5>
                    <p class="card-text"><%= place.description %></p>
                    <a href="/places/<%= place._id %>" class="btn">More Details</a>
                </div>
            </div>
        </div>
    </div>
<% } %> 
  
