<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="card text-center mb-5">
            <img src="<%= place.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= place.location %></h5>
              <p class="card-text"><%= place.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item text-muted">Created at ...</li>
              <li class="list-group-item text-muted">Updated at ...</li>
            </ul>
            <div class="card-body">
              <a href="/places/<%= place._id %>/edit" class="btn btn-info">Edit</a>
              <a href="/places" class="btn btn-danger">Delete</a>
            </div>
          </div>
    </div>
</div>



<!-- <h1><%= place.location %> </h1>
    <h2><%= place.description %> </h2>
    <img src="<%= place.image %> " alt="" class="img-fluid">
    <p><a href="/places/<%=place._id%>/edit" class="btn btn-dark mt-3">Edit</a></p>
    <p>
        <form action="/places/<%= place._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </p> -->
    
