<% layout('layouts/boilerplate') %> 
    <h1><%= place.location %> </h1>
    <h2><%= place.description %> </h2>
    <img src="<%= place.image %> " alt="">
    <p><a href="/places/<%=place._id%>/edit">Edit</a></p>
    <p>
        <form action="/places/<%= place._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <a href="/places">All Places</a>
